header{
    height: 15vh;
    line-height: 10vh;
    background-color: rgb(222, 199, 199);
    
}
header .container{
    padding-top: 15px;
}
header ul li{
    margin-left: 30px;
}
header ul li a{
    transition: 0.5s;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
}
header ul li a:hover{

color:#ff014f;
}
.home-btn{
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.3s all ease;
    height: fit-content;
    cursor: poiter;
    color: #ff014f;
}
.home-btn{
    background:linear-gradient(145deg,#e2e8ec,#ffffff);
    box-shadow: 4px 4px 8px #cbcbcb,4px -4px 8px #ffffff;
}